PORT=5001
NODE_ENV=development
MONGO_URI=mongodb+srv://neilshukla008_db_user:<db_password>@cluster0.udjazry.mongodb.net/kameez-wala?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_secure_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5174
